In [11]:
import json
import pandas as pd


f = open("collection_test/collection_data.json", "r")
collection = json.load(f)

In [12]:
terms = {}
for element in collection['data']:
    term = element['term']
    df = element['df']
    terms[term] = df
dfTerms = pd.DataFrame(list(terms.items()), columns=["term", "df"])
nTokens = collection['statistics']['num_tokens']
nTerms = collection['statistics']['num_terms']
nDocuments = collection['statistics']['N']

1) - Lista de términos y su DF

In [13]:
dfTerms

            term     df
0           casa    200
1          perro    300
2           gato    400
3           loro    500
4           mesa    600
5          reloj    700
6          llave    800
7         puerta    900
8         sillon   1000
9       ventanal   1100
10  calefactores   1200
11         tenis   1300
12       pelotas   1400
13    telescopio   1500
14       botella   2000
15     automovil   4000
16   computadora   2200
17  manualidades   1300
18        lluvia   3200
19      alfombra  10000

- Cantidad de tokens

In [14]:
nTokens

793254

- Cantidad de términos

In [15]:
nTerms

20

- Cantidad de documentos procesados

In [16]:
nDocuments

10000